<%- include("header") -%>

    <section class="sec1">
      <h2>All queues are here</h2>

      <div class="queues">
        <%for(let queue of queues){%>
          <div class="queue">
            <h4><%= queue.title%></h4>
            <p>Code: <%= queue._id%></p>
            <p>Limit: <%= queue.maxLimit%></p>
            <p>Persons Currently in: <%= queue.joinedUsersID.length%></p>
            <p>Created by: <%= queue.adminName%></p>
          </div>
        <%}%>
      </div>

    </section>

    <!--Local Scripts-->
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>
