<%- include("header") -%>

    <section class="secQue">
      <h2 class="queTitle"><%= queue.title%></h2>
      <% if(!isAdmin){%>
        <p class="belowTitle">Your position in the queue: <span id="userPos"><%= userPos%></span></p>
      <%}else{%>
        <p class="belowTitle">Queue Code: <span><%= queue._id%></span></p>

        <div class="DetailsFAd">
          <div class="left">
            <p>Next Turn: <span id="nexTurn"><%= nexTurn%></span></p>
            <p>People in the Queue:
              <ol id="personList">
                <%for(person of queue.joinedUsersName){%>
                  <li>
                    <%=person%> <abbr title="Remove User from Queue"><button class="rmBtn" id="<%= person%>"><i class="fas fa-times"></i></button></abbr>
                  </li>
                <%}%>
              </ol>
            </p>
          </div>
          <div class="right">
            <img src="<%= qrUrl%>" alt="">
          </div>
        </div>
      <%}%>

      <div class="commDiv">
        <p>Nunmber of persons in the queue currently: <span id="remInQue"><%= queue.joinedUsersID.length%></span></p>

        <p>Max number of person who can join: <%= queue.maxLimit%></p>
      </div>


      <% if(isAdmin){%>
        <div class="indiQFCon">
          <form class="" action="/queue/pause" method="post">
            <% if(queue.paused){%>
              <button class="subBtn creBtn" type="submit" name="queueCode" value="<%= queue._id%>">Resume Queue</button>
            <%}else{%>
              <button class="subBtn creBtn" type="submit" name="queueCode" value="<%= queue._id%>">Pause Queue</button>
            <%}%>
          </form>
          <form class="" action="/queue/delete" method="post">
            <button class="subBtn indiQDBtn" type="submit" name="queueCode" value="<%= queue._id%>">Delete Queue</button>
          </form>
        </div>
      <%}else{%>
        <form class="checkBtn" action="/queue/checkIn" method="post">
          <button class="subBtn" type="submit" name="queueCode" value="<%= queue._id%>">Check-In</button>
        </form>
      <%}%>
    </section>

    <!--Local Scripts-->
    <script type="text/javascript">
      const queueCode = "<%= queue._id%>"
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script type="text/javascript" src="/scripts/dataUpdate.js"></script>
  </body>
</html>
